---

const {whatsapp, whatsappImage} = Astro.props

---
<a href={whatsapp} target="_blank" class="fixed bottom-4 right-6 p-2 bg-[#eee] rounded-full" >
    <img src={whatsappImage} alt="whatsapp" width={50} height={50} />
  </a>

  