---
import data from "../../data.json";
const { titulo, descripcion, imagenes } = data.QuienesSomos;
---
<section class="py-12 relative flex flex-col items-center mt-10">
    <div class="w-full relative flex justify-center min-h-[500px]">
      <!-- Imagen ajustada para ocupar más espacio -->
      <img src={imagenes[0].imagen} alt="Imagen descriptiva" class="w-full h-full object-cover absolute inset-0" />
      
      <!-- Contenido de texto sobre la imagen -->
      <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-center p-6 text-white">
        <h2 class="text-4xl font-bold mb-4">{titulo}</h2>
        <p class="text-lg leading-relaxed">{descripcion}</p>
      </div>
    </div>
  </section>
  


