<!doctype html>
<html lang="en"
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="8x8" href="/Product/DelSauce/imagesDelSauce/favicon-32x32.png" />

		<script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Del Sauce</title>
	</head>
	<body class ="bg-[#CCBCAA]">
		<slot />
	</body>
</html>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	  /* Configurar la fuente globalmente */
	  body {
    font-family: 'Lora', serif;
    font-weight: 600; /* Semibold */
  }
</style>
